<p id="notice"><%= notice %></p>

<h1>Listing References for Reaction <%= params[:id]%></h1>

<% @items.each do |item| %>
<div>
  <%= display_authors item['data']['creators'] %>&nbsp;
  <%= item['data']['title'] %>
</div>
<% end %>

<h1>New Reference</h1>
<%= render 'form' %>
